{% extends 'base.html' %}
{% block content %}
{% include 'litreview/nav.html' %}
    <h3>Search Users to Follow</h3>

    <form method=POST >
        <input type="text" placeholder="Search..." name="searched">
        {% csrf_token %}
        <button type="submit" >Publier</button>
    </form>
<h3>Abonnements de {{ user_en_ligne.username }}</h3>
<p></p>
<div class="following">
{% for follow in following %}
      <table>
  <tr>
    <td>{{ follow.followed_user }}</td>
      <td><a href="{% url 'follow_delete' follow.id %}">supprimer</a></td>

    </tr>
        </table>

{% endfor %}
    </div>
<h3>Abonnés à {{ user_en_ligne.username }}</h3>
<div class="followed">

{% for follow in followed %}

      <table>
  <tr>
    <td>{{ follow.user }}</td>

    </tr>
        </table>
{% endfor %}
    </div>


{% endblock content %}


